#main-header img{
    width: 100%;
    height: 100%;
}

#main-header .resume-item{
    width: 30%;
}

#main-header .resume-item:hover{
    opacity: 0.6;
    cursor: pointer;
}

body{
    overflow-y: scroll ;
}
